.contents
  .content
    = form_for [@poem] do |f|
      %h3
        投稿する
        .field-label
          = f.file_field :image, placeholder: "Image Url", type: "text"
        .field-label
          = f.text_field :text, placeholder: "文章を入力してください", type: "text"
        .field-label
          = f.submit 'Send', class: '#'
