.header
  %h2.header__title
    Poemer
  %ul.header__lists
    %li.list
      =link_to '#' do
        サインインボタン
    %li.list
      =link_to '#' do
        新規登録ボタン

.contents
  .maincontent
    .maincontents
      %ul.content__lists
        %li.list
          =link_to '#' do
            削除ボタン
        %li.list
          =link_to '#' do
            編集ボタン
        %li.list
          =link_to '#' do
            削除ボタン
        %li.list
          =link_to '#' do
            お気に入り
  .sidecontent
    .sidecontents
      .sidecontent__rank
        人気poemランキング
    .sidecontents
      .sidecontent__favorite
        お気に入りpoem一覧


